.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.banner-card-items {
  border: 1px solid #cbced2;
  border-radius: 8px;
  margin-top: 8px;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  list-style-type: none;
  max-width: 1140px;
}
.heading {
  font-family: 'Roboto';
  font-size: 36px;
  color: #326a9d;
  font-weight: bold;
}
.description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #64748b;
  margin-top: 24px;
  margin-bottom: 32pc;
}
.show-more-btn {
  background-color: #ffffff;
  color: #326a9d;
  border: 1px solid #326a9d;
  font-size: 15px;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}
